.pointer-navigator {
  background: #333;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: grab;
}

.pointer-navigator .navigator-item {
  height: 50px;
  position: relative;
  width: 100%;
  font-size: 28px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.pointer-navigator .navigator-item .navigator-item-text {
  float: right;
  padding-right: 24%;
  cursor: pointer;
}

.pointer-navigator .navigator-marking {
  position: absolute;
  right: 0px;
  width: 20%;
  height: 100%;
}
