$text-color: white;
$menu-choice-transition: 0.3s;

.menu-container {
  position: relative;
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  color: $text-color;
  font-size: 21px;

  .floater {
    position: absolute;
    z-index: 99;
    left: 0px;
    right: 0px;
    opacity: 0;
    border-bottom: 2px solid #e2e2e2;
    transition: $menu-choice-transition;
    pointer-events: none;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40%;
    padding: 6px 18px;
    opacity: 0.75;
    cursor: pointer;
    transition: $menu-choice-transition;
    pointer-events: initial;

    i {
      padding-left: 10px;
    }

    &:hover, &.active {
      opacity: 1;
      text-shadow: 0px 0px 15px $text-color;
    }
  }
}
