.page-wrapper{
  position: fixed;
  width: 100%;
  top: 60px;
  bottom: 0px;
}

/*.page::-webkit-scrollbar {
    display: none;
}*/

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.8s ease-in;
}

.page-content{
  position: relative;
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.page-transition-enter {
  opacity: 0.01;
  transition: 0.8s;
}
.page-transition-enter.page-transition-enter-active {
  opacity: 1;
  transition: 0.8s;
}
.page-transition-leave {
  opacity: 1;
  transition: 0.8s;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0.01;
  transition: 0.8s;
}

.go-up {
  position: fixed;
  z-index: 999;
  top: 80px;
  left: 20px;
}

.go-down {
  position: fixed;
  z-index: 999;
  bottom: 40px;
  left: 20px;
}
