.console {
  padding: 3px;
  background: #333;
  position: absolute;
}

.console::after{
  content:" ";
  display:block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: black;
  opacity: 0.03;
  z-index:2;
  pointer-events:none;
  animation:console-flicker 0.01s infinite;
}
.console::before{
  content:" ";
  display:block;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: linear-gradient(
                rgba(0, 0, 0, 0.1) 50%,
                rgba(0, 0, 0, 0.3) 50%
                ),
             linear-gradient(
               90deg,
               rgba(1, 0, 0, 0.06),
               rgba(0, 1, 0, 0.02),
               rgba(0, 0, 1, 0.06)
               );
  z-index:2;
  /*background-size:100% 2px, 3px 100%;*/
  background-size: 100% 0.4vh, 0.4vw 100%;
  pointer-events:none;
}

@keyframes console-flicker{
  0% {
    opacity:0.06;
  }
  100% {
    opacity:0.14;
  }
}

.console .console-line-div{
  font-family: monospace;
  padding-top: 1px;
  padding-left: 2px;
  display: flex;
  align-items: flex-end;
  color: #EAEAEA;
  height: 2vh;
  font-size: 1.6vh;
}

.console .console-caret{
  font-family: monospace;
  height: 0.2vh;
  width: 0.4vw;
  background: white;
  position: relative;
  left: 2px;
  bottom: 0.25vh;
  animation: console-caret-flicker 1.2s infinite;
}

@keyframes console-caret-flicker{
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  99% {
    opacity:0;
  }
}
