

$active-color: white;
$inactive-color: #3c9eff;

.cursor {
  pointer-events: none;
  z-index: 999;
  position: fixed;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;

  .cursor-arrow {
    position: absolute;
    align-self: center;
    shape-rendering: geometricPrecision;
    height: 100%;
    width: 100%;
    transform: rotate(-32deg);

    path {
      stroke-width: 2;
      stroke: black;

      &.moving {
        animation: moving 0.8s infinite ease-out;
      }
    }
  }

  .pins{
    transition: 0.3s;
    path{
      fill: url(#enlargedGradient);
      transition: 0.6s;
    }
    &:not(.active){
      opacity: 0;
    }

    &.enlarged{
      opacity: 1;
      animation: pulse 1s infinite alternate-reverse ease-out;
      path {
        transform: translate(0,0) !important;
      }
    }
  }

  .outer-wheel {

    &.inactive{
      path,circle{
        transition: 1s;
        stroke: url(#inactiveGradient);
        fill: none;
      }
    }

    &.active{
      &.rotatable{
        animation: rotate-clockwise 0.6s infinite linear;
      }
      path,circle{
        transition: 1s;
        stroke: url(#activeGradient);
      }
      circle{
        fill: url(#activeGradient);
      }
    }

    &.enlarged{
      &.rotatable{
        animation:  rotate-clockwise 1s infinite ease-out;
      }
      animation: pulse 1s infinite alternate ease-out;
      path,circle{
        transition: 0.5s;
        fill: none;
        stroke: url(#enlargedGradient);//
      }
    }
  }
}

@keyframes moving {
  0%   {
    transform: translate(0, 80%);
    opacity: 0;
  }
  50%   {
    transform: translate(0, 20%);
    opacity: 1;
  }
  100% {
    transform: translate(0, -10%);
    opacity: 0;
  }
}

@keyframes pulse {
  0%   { transform: scale(1.1)}
  100% { transform: scale(0.9)}
}

@keyframes rotate-clockwise {
  0%   { transform: rotate(0deg)}
  100% { transform: rotate(360deg) }
}
