//Overall dimensions
$panel-width-min: 500px;
$panel-height-min: 400px;
$panel-buffer-height: 3px;

//tab-dimensions
$tab-text-font-size: 16px;

//colors:
$top-bar-background-color: darkgray;
$tab-border-color: gray;
$tab-color: lightgray;
// $tab-ghost-color: rgbs(0.5, 0.5, 0.5, 0.5);

$tab-delete-color: #7c7c7c;
$tab-delete-hover-color: black;
$tab-selected-color: lime;
$tab-text-color: black;

//transition time
$tab-transition-time: 0.3s;
$tab-selection-time: 0.15s;

.fancy-tab-panel {
  .top-panel {
    position: relative;
    width: 100%;
    background-color: $top-bar-background-color;
    border-bottom: $panel-buffer-height solid $tab-selected-color;
    overflow: hidden;

    .tab-add-button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0px;
      transition: $tab-transition-time;

      svg {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        fill: $tab-color;
        stroke: $tab-border-color;
        transition: $tab-selection-time;

        path {
          transform-origin: center;
          transition: 0.4s;
          &:hover {
              transform: rotate(90deg);
          }
        }
      }

      i {
        position: absolute;
        align-self: center;
        color: #656565;
        pointer-events: none;
      }
    }

    .tab {  //svg element
      transition: $tab-transition-time;
      position: absolute;
      bottom: 0px;
      transform-origin: left;

      .tab-content {
        position: absolute;
        overflow: hidden;
        transition: $tab-selection-time;
        // pointer-events: none;

        .tab-title {
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
          text-overflow: ellipsis;
          // align-items: center;
          // display: flex;
          vertical-align: middle;

          text-indent: 5px;
          height: 100%;
          // pointer-events: none;
        }

        .tab-delete-icon {
          position: absolute;
          right: 0px;
          bottom: 0px;
          display: flex;
          align-items: center;

          i {
            font-size: $tab-text-font-size;
            color: $tab-delete-color;
            transition: 0.2s;
            cursor: pointer;
          }

          // &:hover{
            i:hover {
              color: $tab-delete-hover-color;
            }
          // }
        }
      }

      svg {
        position: absolute;
        pointer-events: none;
        font-size: $tab-text-font-size;
        fill: $tab-color;
        stroke: $tab-border-color;
        transition: $tab-selection-time;
      }

      &.entering {
        animation: expand $tab-transition-time 1;
      }

      &.exiting {
        animation: expand $tab-transition-time 1 reverse;
      }

      &.selected {
        z-index: 999;
        .tab-content {
          bottom: -2px;
        }
        svg {
          fill: $tab-selected-color;
        }
      }
    }

    .tab-ghost-handle {
      position: absolute;
      bottom: 0px;
      z-index: 9999;
      opacity: 0.3;

      .tab-content {
        position: absolute;
        overflow: hidden;
        transition: $tab-selection-time;
        // pointer-events: none;

        .tab-title {
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
          text-overflow: ellipsis;
          // align-items: center;
          // display: flex;
          vertical-align: middle;

          text-indent: 5px;
          height: 100%;
          pointer-events: none;
          // cursor: move;
        }
      }

      svg {
        position: absolute;
        // pointer-events: none;
        // font-size: $tab-text-font-size;
        fill: $tab-selected-color;
        stroke: $tab-border-color;
      }
    }
  }
}

@keyframes expand {
  0%   {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
