$background-splash: white;
$background-content: transparent;

$enabling-transition: 1.4s;
$splash-content-transition: 0.6s;

$splash-icon-size: 44px;
$splash-icon-size-half: 22px;

$splash-topbg-height: 300px;
$splash-offset: 150px;

.main-page {
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  background: black;


  .splash {
    height: 80%;
    position: absolute;
    z-index: 999;
    align-self: center;
    transition: $enabling-transition;
    top: 10%;
    width: 80%;
    background: $background-splash;
    overflow: hidden;

    img.avatar {
      position: relative;
      transition: 0.3s;
      height: 100%;
      transform: translate(-16%, 0%);
      transition: $enabling-transition;
      filter: grayscale(100%);
    }

    .splash-content-right {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 80%;
      height: 100%;

      .test-grid {
        width: 200px;
        height: 200px;
        background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: white;
      }
    }
  }
}
