$background-splash: white;
$background-content: transparent;

$enabling-transition: 1.4s;
$splash-content-transition: 0.6s;

$splash-icon-size: 44px;
$splash-icon-size-half: 22px;

$splash-topbg-height: 300px;
$splash-offset: 150px;

.main-page {
  min-width: 1024px;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  background: black;

  .central {
    display: flex;
    position: absolute;
    align-self: center;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

    .splash {
      position: relative;
      flex: 2;
      transition: $enabling-transition;
      background: $background-splash;
      overflow: hidden;

      img.avatar {
        position: relative;
        transition: 0.3s;
        height: 100%;
        transform: translate(-9%, 0%);
        transition: $enabling-transition;
        filter: grayscale(100%);
      }
    }

    .main-page-grid {
      flex: 3;
      position: relative;
    }
  }
}
