$transition-time: 1000ms;
$top-bar-height: 72px;

.main-page {
  min-width: 1200px;
  min-height: 720px;
  flex-direction: column;

  .filter-bg {
    position: absolute;
    width: 82%;
    height: 100%;
    overflow: hidden;
    right: 0px;
    top: 0px;

    .filter {
      background: linear-gradient(130deg, white, white 40%, rgba(0, 0, 0, 0));
    }

    img {
      position: absolute;
      height: 100%;
      top: 0px;
      right: 0px;
      filter: grayscale(100%);
    }
  }

  img.avatar {
    position: absolute;
    height: 100%;
    width: auto;
    transform: translate(-9%, 0%);
    opacity: 0.8;

    filter: grayscale(100%);
  }

  .mid {
    padding-left: 26%;
    width: 74%;
    display: flex;
    justify-content: center;
  }

  .top-slogan {
    position: absolute;
    align-items: center;
    font-size: 50px;
    top: 26%;
    height: 8%;
    transition: $transition-time;
    overflow-x: visible;
    white-space: nowrap;

    &.active {
      top: 0%;
      height: $top-bar-height;
      width: 15%;
      padding-left: 2%;
      // width: auto;
      font-size: 32px;
    }
  }

  .headers {
    position: absolute;
    align-items: center;
    top: 36%;
    height: 10%;
    min-height: 72px;
    background: rgba(0,0,0,0.2);
    background: linear-gradient(45deg, rgba(0,0,0,0.15), rgba(0,0,0,0.3) 30%, rgba(0,0,0,0.3));
    transition: $transition-time;

    &.active {
      top: 0%;
      height: $top-bar-height;
    }
  }

  .main-page-grid {
    position: absolute;
    top: 16%;
    left: 24%;
    width: 60%;
    height: 70%;
  }

  // .central {
  //   display: flex;
  //   position: absolute;
  //   align-self: center;
  //   top: 5%;
  //   left: 5%;
  //   width: 90%;
  //   height: 90%;
  //
  //   .splash {
  //     position: relative;
  //     flex: 2;
  //     transition: $enabling-transition;
  //     background: $background-splash;
  //     overflow: hidden;
  //
  //   }
  //
  //   .main-page-grid {
  //     flex: 3;
  //     position: relative;
  //   }
  // }
}
