$transition-time: 0.3s;


.world-map {
  overflow: hidden;
  // border: 1px solid lightgray;

  svg {

    transition: $transition-time;

    path.country {
      transition: $transition-time;
      stroke: #5a5a5a;
      fill-opacity: 0.8;

      &.green {
        fill: #c7e999;
      }

      &.red {
        fill: #efc2db;
      }

      &.brown {
        fill: #e9d0b1;
      }

      &.orange {
        fill: #c2e5b0;
      }

      &.purple {
        fill: #a7e1dc;
      }
      // fill: #ececec; //Will use a random color

      // &:hover {
      //   fill: lime;
      // }
    }

  }

}
