.grid-animation-wrapper {
  display: inline-block;
  position: relative;
  perspective: 300px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  .animation-wrapper {
    position: relative;
    transform-origin: center;
    transform-style: preserve-3d;
  }
}

.animation-wrapper.entering {
  animation: animation-grid-enter-rotate 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.animation-wrapper.exiting {
  animation: animation-grid-exit 0.3s;
  animation-fill-mode: forwards;
}

@keyframes animation-grid-enter-rotate {
  0% {
    transform: rotateY(-180deg) scale(0.3, 0.3);
  }
  30% {
    transform: rotateY(-120deg) scale(0.6, 0.6);
  }
  100% {
    transform: rotateY(0deg) scale(1, 1);
  }
}

@keyframes animation-grid-exit {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.02);
  }
  100% {
    transform: scale(0, 0.01);
  }
}

@keyframes droplet {
  0% {
    transform: scale(0.8, 0.8);
    opacity: 1;
  }
  80% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}


@keyframes animation-grid-enter {
  0% {
    transform: scale(0, 0);
  }
  30% {
    transform: scale(1.15, 1.15);
  }
  // 25% {
  //   transform: scale(1.2, 1.2);
  // }
  // 50% {
  //   transform: scale(0.8, 0.8);
  // }
  // 75% {
  //   transform: scale(1.05, 1.05);
  // }
  100% {
    transform: scale(1, 1);
  }
}
