$borderColor: #46a2ff; //cyan;
$labelBorderColor: #46a2ff;

.expandable-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    .box-label {
      // transform: scale(5, 0);
      opacity: 0;

      .box-label-top {
        transform: translate(100%, 0%);
      }

      .box-label-btm {
        transform: translate(-100%, 0%);
      }
    }

    .box-content {
      .border {
        &::before,
        &::after {
          width: 80%;
          height: 10%;
        }

        &::before {
          border-top-color: $borderColor; // Make borders visible
          border-left-color: $borderColor;
          -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
              from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
          transition:
            width 0.35s ease-out, // Width expands first
            height 0.35s ease-out; // And then height
        }

        &::after {
          border-bottom-color: $borderColor; // Make borders visible
          border-right-color: $borderColor;
          -webkit-mask-image: -webkit-gradient(linear, right bottom, left top,
              from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
          transition:
            width 0.35s ease-out, // And then exanding width
            height 0.35s ease-out; // And finally height
        }
      }

      .content-holder {
        //  transform: scale(1, 1);
        opacity: 1;
      }
    }
  }

  .box-label {
    position: absolute;
    align-self: center;
    // transform: scale(1, 1);
    transition: 0.35s;
    padding: 15px;
    opacity: 1;

    .box-label-top,.box-label-btm{
      position: absolute;
      opacity: 1;
      transition: 0.4s;
      height: 1px;
      width: 100%;
      background: $labelBorderColor;
    }

    .box-label-top {
      top: 0px;
      right: 0px;
      background: linear-gradient(to right, transparent 0%, transparentize($labelBorderColor, 0.5) 30%, $labelBorderColor 100%);
    }

    .box-label-btm {
      bottom: 0px;
      left: 0px;
      background: linear-gradient(to left, transparent 0%, transparentize($labelBorderColor, 0.5) 30%, $labelBorderColor 100%);
    }
  }

  .box-content {
    position: relative;
    align-self: center;
    padding: 10px;

    .content-holder {
      // transform: scale(1, 0);
      opacity: 0;
      transition: 0.5s;
    }

    .border {
      position: absolute;
      z-index: 9999;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      transition: color 0.4s;

      &::before,
      &::after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        width: 0%;
        height: 0%;
        border: 2px solid transparent; // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
        width: 0;
        height: 0;
      }
      // This covers the top & right borders (expands right, then down)
      &::before {
        top: 0;
        left: 0;
      }
      // And this the bottom & left borders (expands left, then up)
      &::after {
        bottom: 0;
        right: 0;
      }
    }
  }
}
