// @mixin animation($animate...) {
//     $max: length($animate);
//     $animations: '';
//
//     @for $i from 1 through $max {
//         $animations: #{$animations + nth($animate, $i)};
//
//         @if $i < $max {
//             $animations: #{$animations + ", "};
//         }
//     }
//     -webkit-animation: $animations;
//     -moz-animation:    $animations;
//     -o-animation:      $animations;
//     animation:         $animations;
// }
//
// @mixin keyframes($animationName) {
//     @-webkit-keyframes #{$animationName} {
//         @content;
//     }
//     @-moz-keyframes #{$animationName} {
//         @content;
//     }
//     @-o-keyframes #{$animationName} {
//         @content;
//     }
//     @keyframes #{$animationName} {
//         @content;
//     }
// }

$active-color: white;
$inactive-color: #3c9eff;

.test-box {
  width: 120px;
  height: 120px;
  background: blue;
}


.space-navigator {
  height: 100%;
  width: 100%;
  cursor: none; /* Using our own customized cusor :) */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .background{
    position: relative;
    min-height: 120%;
    min-width: 120%;
    img {
      height: 100%;
      width: 100%;
    }
    .title {
      position: relative;
      text-align: center;
      font-size: 40px;
      text-shadow: 3px;
      color: white;
      z-index: 999;
      top: 10%;
      left: 40%;
    }
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.scope {
  pointer-events: none;
  position: fixed;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;

  .item {
    position: absolute;
    align-self: center;
    shape-rendering: geometricPrecision;
    height: 100%;
    width: 100%;
  }

  .pins{
    transition: 0.3s;
    path{
      fill: $inactive-color;
      transition: 0.6s;
    }
    &.inactive{
      opacity: 0;
    }

    &.active{
      opacity: 1;
      animation: pulse 1s infinite alternate-reverse ease-out;
      path {
        transform: translate(0,0) !important;
      }
    }
  }

  .outer-wheel {

    &.inactive{
      &.rotatable{
        animation: rotate-clockwise 3s infinite linear;
      }
      path,circle{
        transition: 1s;
        stroke: url(#inactiveGradient);
      }
    }

    &.active{
      &.rotatable{
        animation:  rotate-clockwise 2s infinite ease-out;
      }
      animation: pulse 2s infinite alternate ease-out;
      path,circle{
        transition: 0.5s;
        stroke: url(#activeGradient);//
      }
    }
  }

  .shader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.05);
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */
  }
}

@keyframes pulse {
  0%   { transform: scale(1.14)}
  100% { transform: scale(0.8)}
}

@keyframes rotate-clockwise {
  0%   { transform: rotate(0deg)}
  100% { transform: rotate(360deg) }
}
