.timeline {
  position: relative;
  width: 100%;
  display: flex;

  .timeline-item{

    .timeline-item-title {
      * {
        transition: 0.5s;
      }

      .left {
        opacity: 0.5;
        transform: translate(-10px, 0px);
      }

      .right {
        opacity: 0.5;
        transform: translate(10px, 0px);
      }

      .enabled {
        .left {
          opacity: 1;
          transform: translate(0px, 0px);
        }
        .right {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
    }
  }

}
