$grid-container-size: 400px;
$grid-size: 100px;
$grid-expand-size: 300px;
$grid-margin: 8px;

.grid-container {
  display: flex;
  position: relative;
  width: $grid-container-size;

  .grid {
    position: relative;
    width: $grid-size;
    height: $grid-size;
    margin: $grid-margin;

    &:hover {
      z-index: 999;
      
      .small-grid {
        width: $grid-expand-size;
        height: $grid-expand-size;
      }
    }

    .small-grid {
      position: absolute;
      align-self: center;
      -webkit-justify-self: center;
      justify-self: center;
      width: $grid-size;
      height: $grid-size;
      transition: 0.3s;
    }
  }
}
