.page {
  overflow-x: hidden;

  .backdrop {
    position: absolute;
    width: 120%;
    height: 100%;
    left: -10%;
    top: 0px;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    .top-title {
      position: absolute;
      bottom: 15%;
      font-size: 40px;
      animation: float-up 1s normal linear;
    }

    .four-pinnacle {
      align-self: center;
      position: absolute;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;

      .content-box {
        position: relative;
        width: 300px;
        background: transparent;
      }
    }
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
