.page {
  overflow-x: hidden;

  .backdrop {
    position: absolute;
    max-width: 120%;
    left: -10%;
    top: 0px;
  }

  .page-content {
    display: flex;
    justify-content: center;

    .top-title {
      position: relative;
      top: 50px;
      font-size: 36px;
      animation: float-up 1s normal linear;
    }
  }
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
